*{
    font-family: sans-serif;
}
body{
    background-color: #591C21;
}
.navbar{
    background-color: #0e0e0e;
}
.logonavbar{
    width: 30vh;
    height: auto;
    border: #3d0b0b;
}
.boton-navbar{
    color: #ffffff;
    font-weight: bold;
    background-color: #d33939;
    border-color: #d33939;
    transition: all 0.6s;
}
.boton-navbar:hover{
    background-color: #ff7272;
    border-color: #ff7272;
    transform: scale(105%);;
}
.secondary-navbar{
    background-color: #000000c5;
}
.title-navbar{
    font-weight: bold;
    color: #d1d1d1;
}
.activado{
    background-color: #851212;
    border-color: #851212;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
.cartas{
    column-gap: 26vh;
    row-gap: 5vh;
    margin-top: 10vh;
}
.sticky-navbar{
    position: sticky;
    top: -1px;
    z-index: 50;
}
.category{
    background-color: rgb(100, 40, 40);
    border-radius: 10vh;
    padding-left: 35px;
    padding-right: 15px;
    color: aliceblue;
}
.cohort{
    color: #d1d1d1;
    padding-top: 3vh;
}
.card{
    background-color: #b62828;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.contact{
    background-color: #0e0e0e;
}
.cartahover{
    transition: all 0.2s;
}
.cartahover:hover{
    background-color: #d1d1d1;
    transform: scale(110%);
    color: red;
}
.btn-outline-light:hover{
    color: #0e0e0e;
    background-color: #b62828;
    border-color: #ff7272;
}
.details{
    /* padding-top: 10vh; */
    width: 50%;
    height: 50vh;
    background-color: rgb(27, 27, 27);
}